* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #ebebee;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.show-info {
  transform: translateY(100%);
}

.rotate-arrow {
  transform: rotate(-180deg);
}

.move-greeting {
  transform: translateY(calc(-150px - 10vh));
}

.hide-quote {
  opacity: 0;
}

@keyframes pulse {
  0% {
    border: 1px solid #ebebee;
    transform: scale(1);
  }
  50% {
    border: 1px solid #ebebee;
    transform: scale(1.03);
  }
  100% {
    border: 1px solid #ebebee;
    transform: scale(1);
  }
}
.hero-bg {
  position: relative;
  height: 100vh;
  background-image: url("../img/nighttime-desktop.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
.hero-bg__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5333333333);
  padding: 2em;
}
.hero-bg__shadow .quote-container {
  color: #d2d2d8;
  width: 100%;
  height: 120px;
  margin-top: 2em;
  transition: opacity 0.4s ease-out;
  font-size: 1.6rem;
}
.hero-bg__shadow .quote-container__text-box {
  display: flex;
  gap: 1rem;
  line-height: 1.5em;
  margin-bottom: 1rem;
}
.hero-bg__shadow .quote-container__text-box .fa-rotate {
  cursor: pointer;
  font-size: 2rem;
  padding: 5px;
  color: #c6c6c6;
  transition: color 0.3s, transform 0.5s;
}
.hero-bg__shadow .quote-container__text-box .fa-rotate:hover {
  color: #fff;
  transform: scale(1.1);
}
.hero-bg__shadow .quote-container__text-box .text {
  width: 100%;
}
.hero-bg__shadow .quote-container__author {
  color: #fff;
}
.hero-bg .greeting {
  position: absolute;
  bottom: 3.5em;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 5em;
  transition: transform 0.7s ease-out;
}
.hero-bg .greeting__title {
  display: flex;
  gap: 0.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d2d2d8;
}
.hero-bg .greeting__clock {
  font-size: 8rem;
  font-weight: 900;
}
.hero-bg .greeting .show-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 3.5rem;
  padding: 0 0.2em 0 1.2em;
  margin-top: 4em;
  border-radius: 2em;
  background-color: #c6c6c6;
  font-size: 1.2rem;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.4s;
  animation: pulse 1.5s ease-in-out infinite;
}
.hero-bg .greeting .show-more button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
  animation: pulse 1.5s ease-in-out infinite;
}
.hero-bg .greeting .show-more i {
  transition: transform 0.5s;
}
.hero-bg .greeting .show-more .fa-chevron-up {
  color: #fff;
}
.hero-bg .greeting .show-more:hover {
  background-color: white;
}
.hero-bg .info-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background-color: #1d1d1d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em 0 2em;
  transition: transform 0.7s ease-out;
  transform: translateY(100%);
}
.hero-bg .info-container__content-box {
  width: 100%;
}
.hero-bg .info-container__content-box .category-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 3.5rem;
}
.hero-bg .info-container__content-box .category-name .info-name {
  font-size: 0.8rem;
}
.hero-bg .info-container__content-box .category-name .result {
  font-weight: bold;
}

.popup,
.show-name-popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.popup__container,
.show-name-popup__container {
  width: 90%;
  height: calc(20rem + 10%);
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  z-index: 10;
}
.popup__container {
  border-top: 1px solid #fff;
  color: #fff;
}
.popup__container .popup-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  height: 100%;
  width: 100%;
}
.popup__container .popup-items .popup-title {
  font-size: clamp(3rem, 4vw, 6rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.popup__container .popup-items .input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
}
.popup__container .popup-items .input-box label {
  font-size: clamp(1.4rem, 1.8vw, 2.5rem);
  color: #c6c6c6;
}
.popup__container .popup-items .input-box input {
  color: orange;
  background-color: transparent;
  padding-left: 1em;
  height: 3rem;
  border: none;
  border-bottom: 2px solid orange;
  border-top: 2px solid orange;
}
.popup__container .popup-items .input-box ::placeholder {
  color: rgba(255, 166, 0, 0.336);
}
.popup__container .popup-items .input-box input:focus {
  outline: none;
}
.popup__container .popup-items .popup-button {
  background-color: #c6c6c6;
  padding: 0.5em 2.5em 0.5em 2.5em;
  letter-spacing: 2px;
  border-radius: 15px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.popup__container .popup-button:hover {
  transform: scale(1.1);
}

.show-name-popup__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}
.show-name-popup__container .hello-box {
  text-align: center;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  color: orange;
  font-size: clamp(3rem, 4vw, 6rem);
}

@media (min-width: 375px) {
  .hero-bg .greeting {
    bottom: 6em;
    font-size: 2rem;
  }
  .hero-bg .greeting__clock {
    font-size: 10rem;
  }
  .hero-bg .greeting .show-more {
    font-size: 1.4rem;
    width: 12rem;
    height: 4rem;
  }
  .hero-bg .greeting .show-more button {
    width: 3.5rem;
    height: 3.5rem;
  }
  .hero-bg .info-container__content-box .category-name {
    font-size: 1.6rem;
    line-height: 4rem;
  }
  .hero-bg .info-container__content-box .category-name .info-name {
    font-size: 1rem;
  }
}
@media (min-width: 414px) {
  .hero-bg__shadow .quote-container {
    font-size: 1.8rem;
  }
  .hero-bg__shadow .quote-container .fa-rotate {
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) {
  .hide-info {
    bottom: -45rem;
  }
  .hero-bg__shadow {
    padding: 5em;
  }
  .hero-bg__shadow .quote-container {
    width: 600px;
  }
  .hero-bg__shadow .quote-container__text-box .fa-rotate {
    font-size: 3.5rem;
  }
  .hero-bg__shadow .quote-container__text-box .text {
    line-height: 3.5rem;
    font-size: 2.2rem;
  }
  .hero-bg__shadow .quote-container__author {
    font-size: 2.7rem;
  }
  .hero-bg .greeting {
    bottom: calc(4.5em + 5vh);
    font-size: 2.5rem;
  }
  .hero-bg .greeting__clock {
    font-size: 14rem;
  }
  .hero-bg .greeting .show-more {
    font-size: 1.8rem;
    width: 15rem;
    height: 6rem;
  }
  .hero-bg .greeting .show-more button {
    width: 5rem;
    height: 5rem;
  }
  .hero-bg .info-container__content-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8rem 8rem;
    text-align: left;
  }
  .hero-bg .info-container__content-box .category-name {
    padding-left: 1em;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1rem;
    font-size: 4rem;
  }
  .hero-bg .info-container__content-box .category-name .info-name {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .hero-bg .info-container {
    height: 40vh;
  }
  .hero-bg .info-container__content-box {
    gap: 8rem 20rem;
  }
  .hero-bg .greeting {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .hero-bg .greeting .show-more {
    margin-right: 8rem;
    align-self: self-end;
  }
  .hero-bg .greeting__clock {
    font-size: 20rem;
  }
}
@media (min-height: 600px) and (min-width: 1000px) {
  .move-greeting {
    transform: translateY(calc(-150px - 4vh));
  }
  .hero-bg .greeting__clock {
    font-size: 13rem;
  }
}
@media (min-width: 1200px) {
  .hero-bg .info-container__content-box {
    gap: 8rem 30rem;
  }
  .hero-bg .greeting__clock {
    font-size: 16rem;
  }
}
@media (min-height: 740px) {
  .move-greeting {
    transform: translateY(calc(-150px - 17vh));
  }
}
@media (min-height: 1000px) {
  .move-greeting {
    transform: translateY(calc(-150px - 20vh));
  }
}/*# sourceMappingURL=style.css.map */