@media (min-width: 992px) {
		.greeting {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.show-more {
				margin-right: 8rem;
				align-self: self-end;
			}
		}
	.hero-bg {
		.info-container {
			height: 40vh;
		}
	}
}
