@use 'general' as *;

body {
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	background-color: #ebebee;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
//Class and Animation to Manipulation in js
.show-info {
	transform: translateY(100%);
}
.rotate-arrow {
	transform: rotate(-180deg);
}
.move-greeting {
	transform: translateY(calc(-150px - 10vh));
}
.hide-quote {
	opacity: 0;
}
@keyframes pulse {
	0% {
		border: 1px solid #ebebee;
		transform: scale(1);
	}
	50% {
		border: 1px solid #ebebee;

		transform: scale(1.03);
	}
	100% {
		border: 1px solid #ebebee;
		transform: scale(1);
	}
}
//////////////////////////////////
.hero-bg {
	position: relative;
	height: 100vh;
	background-image: url('../img/nighttime-desktop.jpg');
	background-size: cover;
	background-position: bottom;
	overflow: hidden;

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #00000088;
		padding: 2em;

		.quote-container {
			color: #d2d2d8;
			width: 100%;
			height: 120px;
			margin-top: 2em;
			transition: opacity 0.4s ease-out;
			font-size: 1.6rem;
			&__text-box {
				display: flex;
				gap: 1rem;
				line-height: 1.5em;

				margin-bottom: 1rem;
				.fa-rotate {
					cursor: pointer;
					font-size: 2rem;
					padding: 5px;
					color: #c6c6c6;
					transition: color 0.3s, transform .5s;
				}
				.fa-rotate:hover {
					color: #fff;
					transform: scale(1.1)
				}
				.text {
					width: 100%;
				}
			}

			&__author {
				color: #fff;
			}
		}
	}
	.greeting {
		position: absolute;
		bottom: 3.5em;
		color: #fff;
		font-size: 1.8rem;
		margin-top: 5em;
		transition: transform 0.7s ease-out;

		&__title {
			display: flex;
			gap: 0.5em;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #d2d2d8;
		}

		&__clock {
			font-size: 8rem;
			font-weight: 900;
		}
		.show-more {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 10rem;
			height: 3.5rem;
			padding: 0 0.2em 0 1.2em;
			margin-top: 4em;
			border-radius: 2em;
			background-color: #c6c6c6;
			font-size: 1.2rem;
			color: #000;
			letter-spacing: 3px;
			text-transform: uppercase;
			cursor: pointer;
			transition: background-color 0.4s;
			animation: pulse 1.5s ease-in-out infinite;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 3rem;
				height: 3rem;
				border: none;
				border-radius: 50%;
				background-color: #000;
				cursor: pointer;
				animation: pulse 1.5s ease-in-out infinite;
			}
			i {
				transition: transform 0.5s;
			}
			.fa-chevron-up {
				color: #fff;
			}
		}
		.show-more:hover {
			background-color: #ffff;
		}
	}
	.info-container {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40vh;
		background-color: #1d1d1d;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 2em 0 2em;
		transition: transform 0.7s ease-out;
		transform: translateY(100%);

		&__content-box {
			width: 100%;
			.category-name {
				display: flex;
				justify-content: space-between;
				width: 100%;
				gap: 1em;
				font-size: 1.3rem;
				text-transform: uppercase;
				letter-spacing: 2px;
				line-height: 3.5rem;

				.info-name {
					font-size: 0.8rem;
				}
				.result {
					font-weight: bold;
				}
			}
		}
	}
}
.popup,
.show-name-popup {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	&__container {
		width: calc(100% - 10%);
		height: calc((20rem + 10%));
		padding: 2em;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.popup {
	z-index: 10;
	&__container {
		border-top: 1px solid #fff;
		color: #fff;

		.popup-items {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 3em;
			height: 100%;
			width: 100%;
			.popup-title {
				font-size: clamp(3rem, 4vw, 6rem);
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.input-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1.3em;

				label {
					font-size: clamp(1.4rem, 1.8vw, 2.5rem);
					color: #c6c6c6;
				}
				input {
					color: orange;
					background-color: transparent;
					padding-left: 1em;
					height: 3rem;
					border: none;
					border-bottom: 2px solid orange;
					border-top: 2px solid orange;
				}
				::placeholder {
					color: rgba(255, 166, 0, 0.336);
				}
				input:focus {
					outline: none;
				}
			}
			.popup-button {
				background-color: #c6c6c6;
				padding: 0.5em 2.5em 0.5em 2.5em;
				letter-spacing: 2px;
				border-radius: 15px;
				text-transform: uppercase;
				border: none;
				cursor: pointer;
				transition: transform 0.3s;
			}
		}

		.popup-button:hover {
			transform: scale(1.1);
		}
	}
}
.show-name-popup {
	
	&__container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 3em;
		.hello-box {
			text-align: center;
			color: pink;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 300px;
			color: orange;
			font-size: clamp(3rem, 4vw, 6rem);
		}
	}
}
@import 'small';
@import 'large';
